html {
  scroll-behavior: smooth;
}

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Montserrat', sans-serif; }

.row{
    margin-left: 0!important; margin-right: 0!important; 
}

@font-face{
    font-family: 'Gilroy';
    src: url(./Gilroy-Regular.woff) format(woff);
}

.nav_style{
    background-color: #DC143C;
}

.nav_style a{ color: white; }



/*//////////// main header//////////*/

.main_header{
    height: 450px;
    width: 100%;
}

.rightside h1{
     font-size: 2.5rem;
 }
.corona_rot img{
    animation: gocorona 3s linear infinite;
}
@keyframes gocorona{
    0% { transform: rotate(0);}
    100% { transform: rotate(360deg);}
}
.leftside img{ animation: heartbeat 5s linear infinite; }

@keyframes heartbeat
{
    0%{
        transform: scale(.75);
    }
    20%{
        transform: scale(1);
    }
    40%{
        transform: scale(.75);
    }
    60%{
        transform: scale(1);
    }
    80%{
        transform: scale(.75);
    }
    100%{
        transform: scale(.75);
    }
}

/**************corona update**************/ 
.corona_update{
    margin: 0 0 30px 0;
}

.corona_update h3{ color: #ff7675; }

.corona_update h1{ font-size: 2rem; text-align: center; }

/*                      MAIN                      */
/* ---------------------------------------------- */
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* -------- BG IMAGE -------- */
.stats{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) ,url('../Images/bg.jpg');
    background-size: cover;
}
/* -------- LATEST REPORT -------- */
.latest-report{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

    color: #FFF;
}

.country,
.total-cases,
.recovered,
.deaths{
    height: 100px;
}

.name{
    font-size: 2.2em;
    color: #be64f1;
    font-weight: bold;
}

.change-country{
    cursor: pointer;
}

.title{
    font-size: 1.3em;
}
.total-cases .value{
    font-size: 2em;
    font-weight: bold;
}
.recovered .value{
    font-size: 2em;
    font-weight: bold;
    color: #009688;
}
.deaths .value{
    font-size: 2em;
    font-weight: bold;
    color: #f44336;
}
.new-value{
    font-size: 1.3em;
}
/* -------- CHART -------- */
.chart{
    width: 80%;
    height: 70vh;
    min-height: 500px;

    margin: 0 auto;
    padding: 50px 0;
}
/* -------- SEARCH COUNTRY -------- */
.search-country{
    position: relative;
    top: 10px;
}
.hide{
    display: none;
}
.search-box{
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 400px;
    height: 30px;

    background-color: #111;

    z-index: 1;
}
.search-box input{
    width: 360px;
    height: 25px;

    border: none;

    background-color: transparent;
    color: #FFF;

    padding-left: 15px;

    font-size: 1.1em;
}
.search-box img{
    width: 20px;
    padding-right: 5px;
    cursor: pointer;
}

.country-list{
    display: flex;

    position: absolute;
    top: 30px;

    width: 400px;
    height: 300px;

    background-color: #111;
    opacity: 0.9;

    overflow-y: scroll;
}

.country-list ul{
    width: 100%;
}

.country-list ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: #FFF;
}
.country-list ul li:hover{
    border-left: 1px solid #FFF;
}
/* SCROLL BAR */
.country-list::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .country-list::-webkit-scrollbar-track {
    background: #111;
  }
  
  /* Handle */
  .country-list::-webkit-scrollbar-thumb {
    background: #F1F1F1;
  }
  
  /* Handle on hover */
  .country-list::-webkit-scrollbar-thumb:hover {
    background: #FFF;
  }

/*//////////////////about section//////////////////*/

.sub_section{
    background-color: #fbfafd;
}

/**************Resources***************/

.col-form-label{
    padding: 0.5rem;
}


/*///////////////// footer////////////////*/

.footer_style{
    background-color: #a29bfe
}

.footer_style{
    margin-bottom: 0!important;
}

/*//////////top button///////// */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ff7675; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}







/*////////////////responsive//////////////*/
/* ---------------------------------------------- */
/*             SCREEN WIDTH < 600px               */
/* ---------------------------------------------- */
@media screen and (max-width: 600px){
    .latest-report{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


@media(max-width: 768px){
    .main_header{ height: 700px; text-align: center; }

    .main_header h1{
        text-align: center;
        padding: 0;
        width: 100;
        font-size: 30px;
    }
   .count_style{
       display: inline!important;
   }
   .count_style p{ text-align: center;}
}